<h2>
  Habit Setup
</h2>

<% if current_user && selected_user %>



  <!--  NEW FORM-->
  <h3 style="text-decoration: underline">Create New</h3>

  <%= render 'template_row_form', template: selected_user.dup.happening_templates.build %>

  <!--  INDEX -->
  <% @happening_templates.each do |template| %>
    <!--SEPERATOR-->
    <hr>
    <% if template.separator? %>
      <h3 class="mt-5" style="text-decoration: underline"><%= template.name %></h3>
    <% end %>
    <!--      TEMPLATES-->
    <%= render 'template_row_form', template: template %>
  <% end %>
<% end %>
