<h4 style="display:inline">Good Habit Score: <%= selected_user.good_habit_score %></h4>
<small>(Keep this above 100 to unlock screentime)</small><br>

<h4 style="display:inline">Bad Habit Score: <%= selected_user.bad_habit_score %></h4>
<small>(Keep this below 100 to unlock screentime)</small>
