<section>
  <% selected_user.happening_templates.active.each do |template| %>
    <% if template.separator? %>
      <br>
      <u style="text-decoration: underline"><%= template.description.titleize %></u>
    <% else %>
      <%= render "#{template.kind}_button", template: template %>
      <br><br>
    <% end %>
  <% end %>
</section>
