<% if current_user && selected_user %>
  <% if selected_user.child? %>
    <section>
      <%= render 'habit_log' %>
    </section>
    <hr>
    <section>
      <%= render 'habit_entry' %>
    </section>
  <% end %>
<% end %>
